<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in? == true %>
      <% user = Helpers.current_user %>
      <p> Username: <%= "Welcome #{user.username}" %> </p><br>
      <p> Password: <%= user.password %> </p><br>
      <p> Balance: <%= user.balance %> </p><br>
    <% end %>
  <a href="/logout" name="Log Out">Log Out </a>
  </body>
</html>
